@font-face {
  font-family: Digital;
  src: url(../fonts/digital-mono-italic.ttf);
}

:root {
  --color-primary: #011A27;
  --color-secondary: #063852;
  --color-tertiary: #F0810F;
  --color-quaternary: #E6DF44;
  --color-text-light: #EEEEEE;
  --color-text-dark: #222222;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-user-select:none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-quaternary);
  background-color: var(--color-primary);
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 40px;
  transition: all .25s;
  color: var(--color-quaternary);
  background-color: var(--color-secondary);
}
button:hover {
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: var(--color-secondary);
  height: 4px !important;
  margin: 18px 0 !important;
  outline: none;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-quaternary);
  cursor: pointer;
}

#appContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}

.row {
  height: 40px;
  margin-bottom: 10px;
}
.last-row {
  margin-bottom: 0;
}

#bpm {
  display: none;
}

#bpmControls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-column-gap: 10px;
}

#bpmControls button {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
}

#bpmDiv {
  text-align: center;
  font-family: Digital, monospace;
  font-size: 40px;
  cursor: default;
}

#tempoName {
  height: 20px !important;
  line-height: 20px !important;
  margin-bottom: 0 !important;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  cursor: default;
}

#bpmRange {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
}

#startStop {
  display: block;
  width: 100%;
  height: 40px;
}

#volume {
  display: grid;
  grid-template-columns: 40px auto;
  width: 100%;
}

#volumeFontDiv {
  width: 40px;
  height: 40px;
  text-align: left;
  padding-left: 4px;
  line-height: 40px;
  font-size: 20px;  
}

#volume input[type=range] {
  width: 100%;
  height: 40px;
  margin: 0;
}

#volumeAndTapTempo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1rem;
}

#tapTempo {
  height: 40px;
  width: 100%;
}

#appBar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 34px;
  line-height: 30px;
  padding: 0 12px 4px 12px;
  background-color: var(--color-secondary);
  -webkit-app-region: drag;
}

#appBar::after {
  height: 34px;
}

#appName {
  position: absolute;
  top: 0;
  left: 36px;
  transition: .3s;
}

#windowControls {
  float: right;
  -webkit-app-region: no-drag;
}

#windowControls div {
  display: inline-block;
  width: 40px;
  height: 30px;
  line-height: 30px;
  background-color: var(--color-primary);
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

#app-logo {
  float: left;
  position: relative;
}
#app-logo img {
  position: absolute;
  top: 6px;
  line-height: 30px;
  height: 20px;
  width: 20px;
}